@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Tailwind CSS */
@layer components {
  .linktree-button {
    @apply block w-full text-center py-3 mb-4 text-white bg-blue-500 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out;
  }

  .linktree-container {
    @apply min-h-screen flex flex-col justify-center items-center bg-gradient-to-r from-black via-purple-800 to-purple-500 py-8;
  }
  .linktree-card {
    @apply w-full max-w-md px-4 py-6 bg-white rounded-lg shadow-xl;
  }

  .avatar {
    @apply w-32 h-32 rounded-full mb-4 border-4 border-white shadow-lg;
  }

  .linktree-header {
    @apply text-center mb-6;
  }

  .linktree-title {
    @apply text-4xl font-bold text-gray-300;
  }

  .linktree-subtitle {
    @apply text-white mt-2;
  }
}
